<div class="container p-4">
    <form action="/uploads" method="post" enctype="multipart/form-data">
        <label for="">Image</label>
        <input type="file" class="form-control-file" name="img" id="" placeholder="" aria-describedby="fileHelpId">
        <button type="submit" class="btn btn-primary"> SEND</button>
    </form>
</div>